asgiref==3.8.1
crispy-bootstrap5==2025.4
Django==4.2.17
django-crispy-forms==2.4
pillow==11.2.1
sqlparse==0.5.3
asgiref==3.8.1
django-php==0.1
django-tailwind==3.6.0
mysqlclient==2.2.7
psycopg2==2.9.10
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
gunicorn==20.1.0
psycopg2-binary==2.9.9
whitenoise==6.6.0
python-decouple==3.8
Pillow==10.4.0

